@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.section-header {
  text-align: center;
  margin-bottom: $spacing-lg;

  .section-title {
    font-size: rem(36);
    margin-bottom: $spacing-sm;
  }

  .section-subtitle {
    font-size: rem(18);
    opacity: 0.8;
  }
}
