@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  position: sticky;
  top: 0;
  background: var(--card-bg);
  box-shadow: var(--shadow);
  z-index: 1000;
  padding: $spacing-md 0;

  .container {
    display: flex;
    align-items: center;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
  }

  .nav__actions {
    display: flex;
    align-items: center;
    gap: $spacing-md;

    .btn {
      @include transition(all);
      &:hover {
        background-color: $accent;
      }
    }
  }
}
