@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.card {
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: $spacing-lg;
  @include transition(transform);

  &:hover {
    transform: translateY(-5px);
  }
}
